body {
    font-family: 'Poppins', sans-serif;
    color: #f5f5f5;
    line-height: 1.6;
    padding: 40px;
    text-align: left;

    background: linear-gradient(
        270deg,
        #000000,
        #0f2027,
        #203a43,
        #2c5364,
        #000000
    );
    background-size: 600% 600%;
    animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}